$red: #d92929 !default;

$font-main: "Open Sans", sans-serif;
$font-second: "Lato", sans-serif;

$font-family-sans-serif: $font-main !default;

$navbar-light-color: white !default;
$navbar-light-hover-color: white !default;
$navbar-light-active-color: white !default;

// $navbar-light-brand-color: $red !default;
// $navbar-light-brand-hover-color: $red !default;
// //$navbar-brand-height: 40px !default;
